* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.body-zero,
.footer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 100vw;
}

.body-zero{
    gap: 50px;
}

.main-zero{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
}

.links{
    gap: 10px;
}

.hero{
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    width: 300px;
}

.villain{
    width: 350px;
    font-size: 18px;
    color: #c4cad6;
}

button{
    background-color: #3882F6;
    color:#F9FAF8;
    border: 0px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 75px;
}

.img-placeholder{
    margin-left: auto;
    margin-right: 150px;
    width: 100vw;
    max-width: 500px;;
    background-color: gray;
    font-size: 18px;
    color: #c4cad6;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    
}

.body-one{
    gap: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-right: 200px;
    padding-left: 200px;
    margin-bottom: 30px;
}

.box{
    color:#FFFFFF;
    height: 100px;
    width: 100px;
    border: solid #3882F6;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.captions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.body-two{
    background-color: #E5E7EB;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quote{
    font-size: 36px;
    font-style: "light italic";
    color: #1F2937;
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

.thor{
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    align-self: flex-end;
    padding-right: 230px;
    margin-top: -5px;
    margin-bottom: 20px;

}

.body-three{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.final{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

.background{
    flex: 1 0 0;
    width: 80vw;
    max-height: 150px;
    border-radius: 12px;
    background-color: #3882F6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.btn{
    margin-left: auto;   
    border: solid #F9FAF8;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
    font-weight: 700;
    font-size: 24px;
    border-width: 5px; 
}

.footer{
    text-align: center;
    color: #F9FAF8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}